/* CSS (style.css) */
body {
    font-family: "Arial", sans-serif;
    /* Change to your preferred font face */
    background-color: #ffffff;
    /* Change to your preferred background color */
  }
  
  .container {
    max-width: 600px;
  }
  
  .border-2px-blue {
    border: 1px solid blue;
    padding: 10px;
    text-align: center;
  }
  
  .banner img {
    display: block;
    margin: 0 auto;
  }
  
  .banner h3 {
    font-family: "Tahoma", sans-serif;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-control {
    font-family: "Tahoma", sans-serif;
  }
  
  .btn {
    font-family: "Tahoma", sans-serif;
  }
  
  #results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .text-center {
    text-align: center;
  }
  
  .text-result {
    font-size: 30px;
    margin: 8px 0;
  }
  
  .text-result1 {
    font-size: 20px;
    color: blue;
    margin: 0;
  }
  
  #qrcode {
    margin: 10px 0;
  }
  
  .footer-text {
    font-size: 12px;
    font-style: italic;
  }
  
  #qrcode canvas {
    border: none;
  }
  
